<div class="row">
  <div class="small-3 columns">
    <h1>About Me</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-7 columns">
    <div class="row">
      <div class="small-12 columns">
        <p>Hello, I am James Simshaw, a software engineer with experience primarily in Java, Android, Ruby, Python, and C.  Not only do I love writing code, but solving problems as well.  The greatest problems to solve are those that the solution helps to improve the lives of as many people as possible.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p>When I'm not writing code and solving problems, I enjoy activities such as playing tabletop, role playing, and video games.  Additionally, I love watching anime, reading manga, and attending various conventions.</p>
      </div>
    </div>
  </div>
  <div class="small-12 medium-4 right end columns">
    <p>Contact Info Here</p>
  </div>
</div>
