<div class="row">
  <div class="small-12 columns">
    <h1>About Me</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-7 columns">
    <div class="row">
      <div class="myImage">
        <%= image_tag "me.jpg" %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p>Ever since elementary school, my love of mathematics, problem solving, and technology has never stopped growing.  By the sixth grade, I was writing BASIC programs for Apple IIe computers and Microsoft QBasic.  High school continued the trend of learning programming languages including Pascal and C as well as solving challenging problems in Calculus.  After Calculus, I furthered my studies in mathematics by taking courses at Portland State University until I graduated high school and started to attend Oregon State University to pursue and obtain degrees in Mathematics and Computer Science.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p>In addition to mathematics and coding, I love to enjoy activities such as playing tabletop, role playing, and video games.  The greatest of games are those that you can enjoy in the company of others.  Some of my greatest times of playing single player games occurred while living in the residence halls at Oregon State University.  However, I was not shut in my room by myself, I was in one of the lounges along with many others, enjoying the great stories together.  Additionally, I love watching anime, reading manga, and attending various conventions.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p>Currently, I am working on a project to give back to the convention community, a tool to coordinate attendee organized photo shoot gathering for cosplayers.  Currently, it is going to be a Ruby on Rails back-end and Android application.  As a firm believer in open source software, I have made all of the source freely available on my GitHub repository.</p>
      </div>
    </div>
  </div>
  <div class="hide-for-small medium-4 right text-right columns">
    <p>Follow Me at The Following Places</p>
    <a href="https://www.linkedin.com/in/jamessimshaw">
      <p>LinkedIn</p>
    </a>
    <a href="https://twitter.com/JamesSimshaw">
      <p>Twitter</p>
    </a>
    <a href="https://github.com/simshawj">
      <p>GitHub</p>
    </a>
  </div>
</div>
