<html>
  <head>
    <title>Cosplay Companion Privacy Policy</title>
  </head>

  <body>
    <h1>Privacy Policy</h1>
    <h4>Updated: Oct 25 2016</h4>
    <p>This privacy policy can be modified in the future at any time.  I will try to give notice of this happening.</p>
    <p><ul>
      <li>This app only collects your username, e-mail, and password.</li>
      <li>All data collected is used for authentication purposes only.</li>
      <li>This information is not shared with any third parties and all passwords are stored in an encrypted format.</li>
      <li>User provided content, conventions, years, and photo shoots, is publically available.</li>
    </ul>
  </body>
</html>
