<html>
  <head>
    <title>Cosplay Companion Terms of Use</title>
  </head>

  <body>
    <h1>Terms of Use</h1>
    <h4>Updated: Oct 25 2016</h4>
    <p>These terms of use can be modified in the future at any time.  I will try to give notice of this happening.</p>
    <p><ul>
      <li>You are over the age of 13.</li>
      <li>You will not post anything illegal.<li>
      <li>You certify the rights to post any images you post.</li>
    </ul>
  </body>
</html>

