<div class="row hide-for-small">
  <div class="medium-12 medium-centered columns">
    <img class="carousel" src="http://placehold.it/900x500">
  </div>
</div>

<div class="row">
  <div class="small-12 medium-4 columns">
    <div class="section">
      <img src="http://placehold.it/100x100">
      <h4>Killer Android Presentation</h4>
      <p>Info about Killer Android presentation here.</p>
    </div>
  </div>

  <div class="small-12 medium-4 columns">
    <div class="section">
      <img src="http://placehold.it/100x100">
      <h4>Cosplay Companion</h4>
      <p>Info about Cosplay Companion here.</p>
    </div>
  </div>

  <div class="small-12 medium-4 columns">
    <div class="section">
      <img src="http://placehold.it/100x100">
      <h4>Wallpaper Helper</h4>
      <p>Info about Wallpaper Helper here.</p>
    </div>
  </div>
</div>
