<div class="row hide-for-small">
  <div class="medium-12 medium-centered columns">
    <div class="home-carousel">
      <div><img class="carousel-item" src="http://placehold.it/900x500"></div>
      <div><img class="carousel-item" src="http://placehold.it/900x500"></div>
      <div><img class="carousel-item" src="http://placehold.it/900x500"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-4 columns">
    <div class="section">
      <img src="http://placehold.it/100x100">
      <h4>REST APIs and Android Apps</h4>
      <p>Thoughout your time as an Android developer, it is likely you will come across multiple times when you need to interact with a RESTful API.</p>
      <p>I will be presenting some useful techniques in minimizing data usage while providing your users with up to date information.</p>
      <a href="http://meetup.com/Killer-Android/events/226477403/">More Info/RSVP</a>
    </div>
  </div>

  <div class="small-12 medium-4 columns">
    <div class="section">
      <img src="http://placehold.it/100x100">
      <h4>Cosplay Companion</h4>
      <p>Ever wonder when your favorite photo shoot is going to be at a convention you are at but don't have an easy way to locate that information?  Look no further, with Cosplay Companion, you can have a central location for finding out information about photo shoots at every convention you go to.</p>
      <p>Currently in development, this project includes both a website and an Android application.  For more information feel free to look in my portfolio and/or <a href="#">contact me</a>.</p>
    </div>
  </div>

  <div class="small-12 medium-4 columns">
    <div class="section">
      <%= image_tag "wallpaper_helper_logo.png" %>
      <h4>Wallpaper Helper</h4>
      <p>This live wallpaper will allow you to greater control over what wallpaper is displayed for different orientations for your Android device.</p>
      <p>With this you can choose different images for landscape and portrait modes.  As well as scale and crop your image.</p>
      <p>In order for this live wallpaper to fully function, you must have a launcher that supports both portrait and landscape modes.</p>
      <a href="#">GOOGLE PLAY STORE ICON AND LINK</a>
    </div>
  </div>
</div>
