<div class="row">
  <div class="small-12 columns">
    <h1>Portfolio</h1>
  </div>
</div>

<div class="row">
  <div class="portfolio-item">
    <div class="small-12 medium-3 columns">
      <img src="http://placehold.it/200x200">
    </div>
    <div class="small-12 medium-9 columns">
      <h3>Cosplay Companion</h3>
      <p>More in depth info about Cosplay Companion here, including link to Github.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="portfolio-item">
    <div class="small-12 medium-3 right columns">
      <img class="right" src="http://placehold.it/200x200">
    </div>
    <div class="small-12 medium-9 columns">
      <h3>Wallpaper Helper</h3>
      <p>More in depth info about Wallpaper Helper here, including link to Github and Google Play entry.</p>
    </div>
  </div>
</div>
