<div class="row">
  <div class="small-12 columns">
    <h1>Portfolio</h1>
  </div>
</div>

<div class="row">
  <div class="portfolio-item">
    <div class="small-12 medium-3 columns">
      <img src="http://placehold.it/200x200">
    </div>
    <div class="small-12 medium-9 columns">
      <h3>Cosplay Companion</h3>
      <p>This project is currently in development, when completed, it will be available as both an Android app and as a web app.</p>
      <p>Cosplay Companion helps users coordinate group cosplay photo shoots at their favorite conventions.  Users can submit new conventions, years for each convention, as well as photo shoots happening each year.  Additional features will be added over time based upon user feedback.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="portfolio-item">
    <div class="small-12 medium-3 columns">
      <img src="http://placehold.it/200x200">
    </div>
    <div class="small-12 medium-9 columns">
      <h3>Wallpaper Helper</h3>
      <p>More in depth info about Wallpaper Helper here, including link to Github and Google Play entry.</p>
    </div>
  </div>
</div>
