body {
  background-color: #ddd;
}

.main-content {
  background-color: #fff;
  padding-top: 2em;
}

.carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6em;
}

.section {
  img {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }
  h4 {
    text-align: center;
    margin-bottom: 2em;
  }
}

.footer {
  margin-top: 5em;
  margin-bottom: 3em;
  a {
    display: inline-block;
    margin-right: 1em;
  }
}

.myImage {
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.portfolio-item {
  margin-top: 2em;
  margin-bottom: 2em;
}
