body {
  background-color: #ddd;
}

.main-content {
  background-color: #fff;
  padding-top: 2em;
}

.carousel-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.home-carousel {
  margin-bottom: 6em;
}

.section {
  img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }
  .not-rounded {
    border-radius: 0%;
  }
  .google-play {
    max-width: none;
    max-height: none;
    border-radius: 0%;
    margin-left: 0;
    margin-right: 0;
  }
  h4 {
    text-align: center;
    margin-bottom: 2em;
  }
}


.footer {
  margin-top: 5em;
  margin-bottom: 3em;
  a {
    display: inline-block;
    margin-right: 1em;
  }
}

.myImage {
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.portfolio-item {
  margin-top: 2em;
  margin-bottom: 2em;
}
