<div class="row">
  <div class="small-12 columns footer">
    <div class="row">
      <div class="small-12 medium-4 columns">
        <%= link_to "Home", home_path %>
        <%= link_to "Portfolio", portfolio_path %>
        <%= link_to "About Me", about_path %>
      </div>
      <div class="small-12 medium-4 right end columns">
        <p>Social and mail icons go here.</p>
      </div>
    </div>
  </div>
</div>
