<div class="row">
  <div class="small-12 columns footer">
    <div class="row">
      <div class="small-12 medium-4 columns">
        <%= link_to "Home", home_path %>
        <%= link_to "Portfolio", portfolio_path %>
        <%= link_to "About Me", about_path %>
      </div>
      <div class="small-12 medium-4 right small-text-left medium-text-right columns">
        <a href="http://www.twitter.com/JamesSimshaw/"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="http://www.linkedin.com/in/JamesSimshaw"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="http://www.github.com/simshawj"><i class="fa fa-github fa-2x"></i></a>
        <i class="fa fa-envelope fa-2x"></i>
      </div>
    </div>
  </div>
</div>
